


<div >
    <div class="container">
        <div ng-controller="peopleController" >
            <div class="card p-3">
                <form>
                    <div class="form-group">
                        <h3>Agregar Personas</h3>
                        <label>Name</label>
                        <input type="text" class="form-control" id="name" ng-model="vm.individual.name">
                        <label>Lastname</label>
                        <input type="text" class="form-control" id="name" ng-model="vm.individual.lastname">
                        <label>Age</label>
                        <input type="text" class="form-control" id="name" ng-model="vm.individual.age">
                    </div>
                    <button type="button" class="btn btn-info" ng-click="vm.saveindividual()">Agregar Individuo</button>
                </form>
                <hr>
            </div>
            {{vm.testing}}
            <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Lastname</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="individual in vm.persons">
    
                        <td>{{individual.name}}</td>
                        <td>{{individual.lastname}}</td>
                        <td>{{individual.age}}</td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="vm.modifyindividual(individual)">
                                <span >Edit</span>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" ng-click="vm.deleteindividual($index)">
                                    <span >Delete</span>
                            </button>
                        </td>
                    </tr>
                    <button type="button" class="btn btn-default"  ng-click="vm.personsfunc()">func</button>
                    </tbody>
                </table>