


<div >
    <div class="container">
        <div ng-controller="peopleController" >
            <div class="card p-3">
                <form>
                    <div class="form-group">
                        <h3>Agregar Personas</h3>
                        <label>Name</label>
                        <input type="text" class="form-control" id="name" ng-model="vm.product.marca">
                        <label>Sex</label>
                            <select class="form-control">
                                <option value="F">Feminine</option>
                                <option value="M">Masculine</option>
                                <option value="T">Doubt</option>
                            </select>
                        <label>Age</label>
                        <input type="text" class="form-control" id="name" ng-model="vm.product.marca">
                    </div>
                </form>
        </div>
    </div>
</div>