


<div >

            <!--- get pokemon by number-->
            <h4>Get Pokemon by Name, Number or Random</h4>
            <div class="form-group">
                
                    <label>Number Id</label>
                    <input type="text" class="form-control" id="identifier" ng-model="vm.number">
            </div>

            <button type="button" class="btn btn-success" ng-click="vm.getPokeByNumber(number)">Get by Number</button>
            <br><br>
            <div class="form-group">
                    <button type="button" class="btn btn-success" ng-click="vm.getRandomPoke()">get random pokemon</button>
            </div>
            <table class="table table-condensed table-responsive">
                <thead>
                    <tr>
                        <th scope="col" ng-repeat="header in vm.headers">{{header}}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="poke in vm.pokes track by $index">
                    <tr>
                        <tr ng-repeat="poke in vm.pokes track by $index">
                            <td>{{poke.id}}</td>
                            <td>{{poke.name}}</td>
                            <td>{{poke.types[0].type.name}}<br>{{poke.types[1].type.name}}</td>
                            <td>{{poke.abilities[0].ability.name}}<br> {{poke.abilities[1].ability.name}}<br>{{poke.abilities[2].ability.name}}</td>
                            <td><img ng-src="{{poke.sprites.front_default}}"></td>
                        </tr>                  
                    </tr>
                </tbody>
            </table>
            <br>

        <!--- get pokemon by Type -->
        <h4>Consult Pokemon by Type</h4>
        <div class="form-group">
            
                <label>Type</label>
                <input type="text" class="form-control" id="identifier" ng-model="vm.type">
        </div>
        <button type="button" class="btn btn-success" ng-click="vm.getPokeByType(type)">Get by Type</button>

        <table class="table table-condensed table-responsive">
            <thead>
                <tr>
                    <th scope="col" ng-repeat="header in vm.headersType">{{header}}</th>
                </tr>
            </thead>
            <tbody ng-repeat="poke in vm.pokes[0].pokemon track by $index">
                <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{poke.pokemon.name}}</td>
                    <td>{{vm.pokes[0].name}}</td>                    
                </tr>
            </tbody>
        </table>
        <br>
        <!--- get pokemon by ability -->
        <h4>Consult Pokemon by ability</h4>
        <div class="form-group">
            
                <label>Name or Id:</label>
                <input type="text" class="form-control" id="identifier" ng-model="vm.identifier">
        </div>
        <button type="button" class="btn btn-success" ng-click="vm.getPokeByAbility(identifier)">Get by Hability</button>

        <table class="table table-condensed table-responsive">
            <thead>
                <tr>
                    <th scope="col" ng-repeat="header in vm.headersAbility">{{header}}</th>
                </tr>
            </thead>
            <tbody ng-repeat="poke in vm.pokes[0].pokemon track by $index">
                <tr>
                    <td>{{$index + 1}}</td>
                    <td>{{poke.pokemon.name}}</td>
                    <td>{{vm.pokes[0].name}}</td>                    
                </tr>
            </tbody>
        </table>
        <br>


 
</div>